.navigation {
    padding: 10px;
    width: 98%;
    display: flex;
    background-color: #dadaef;
    font-family: 'Montserrat', sans-serif;
}

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myWork {
    text-align: center;
}

.mySkills {
    text-align: center;
}

.footerzzz {
    font-family: 'Montserrat', sans-serif;
}